.menubar {
    display: flex;
    /* justify-content: space-between; */
  }
  
  .menu {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .menu:hover {
    background-color: #f0f0f0;
    display: block;
  }
  
  .submenu {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .menubar :hover .submenu {
    display: block;
  }

  .menubar :hover .submenuitem {
    display: block;
  }
  
  .menu:focus .submenu {
    display: block;
  }
  
  .submenu a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .submenu a:hover {
    background-color: #f0f0f0;
  }
  
  /* .menu .right :hover {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  } */
  
  .submenuitem {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  /* .submenuitem a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  } */
  
  .submenuitem a:hover {
    background-color: #f0f0f0;
  }
  
  .submenu.open {
    display: block;
  }
  
  .submenuitem.open {
    display: block;
  }
  